/Sockets/nbproject/private/
/Sockets/build/
/Sockets/dist/
/SocketsFinal/Servidor/nbproject/private/
/SocketsFinal/Cliente/nbproject/private/
/SocketsFinal/Servidor/build/
/SocketsFinal/Cliente/build/