# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.ear
*.sar
*.class

# OS
.DS_Store

# Sockets
/1-Corte/Sockets/nbproject/private/
/1-Corte/Sockets/build/
/1-Corte/Sockets/dist/

# Socketsfinal
Proyecto-1-Corte/SocketsFinal/Cliente/build/
Proyecto-1-Corte/SocketsFinal/Cliente/dist/
Proyecto-1-Corte/SocketsFinal/Servidor/build/
Proyecto-1-Corte/SocketsFinal/Servidor/dist/

# Datagramfinal
Proyecto-1-Corte/DatagramFinal/ClienteDatagram/dist/
Proyecto-1-Corte/DatagramFinal/ClienteDatagram/build/
Proyecto-1-Corte/DatagramFinal/ServidorDatagram/dist/
Proyecto-1-Corte/DatagramFinal/ServidorDatagram/build/

# Clase
/2-Corte/clase/dist/

# Proyecto JSP
/2-Corte/Proyecto_JSP/build/
/2-Corte/Proyecto_JSP/dist/

# Proyecto gson
/2-Corte/Proyecto_gson/build/
/2-Corte/Proyecto_gson/dist/

# Proyecto gson cliente
/2-Corte/Proyecto_gson_cliente/build/
/2-Corte/Proyecto_gson_cliente/dist/
/2-Corte/Proyecto_gson/nbproject/private/
/2-Corte/Proyecto_gson_cliente/nbproject/private/
/3-Corte/Proyecto_web_service/nbproject/private/
/3-Corte/Proyecto_web_service_cliente/nbproject/private/
/3-Corte/Proyecto_web_service/build/
/3-Corte/Proyecto_web_service_cliente/build/
/3-Corte/Proyecto_gson_FireBase/nbproject/private/
/3-Corte/Proyecto_gson_cliente_FireBase/nbproject/private/
/3-Corte/Proyecto_gson_FireBase/build/
/3-Corte/Proyecto_gson_cliente_FireBase/build/
/3-Corte/Proyecto_gson_FireBase/dist/
/3-Corte/Proyecto_web_service_cliente/dist/