/Sockets/nbproject/private/
/Sockets/build/
/Sockets/dist/
/SocketsFinal/Servidor/nbproject/private/
/SocketsFinal/Cliente/nbproject/private/
/SocketsFinal/Servidor/build/
/SocketsFinal/Cliente/build/
/Proyecto-1-Corte/SocketsFinal/Cliente/build/
/Proyecto-1-Corte/SocketsFinal/Servidor/dist/
/Proyecto-1-Corte/SocketsFinal/Cliente/dist/
/Proyecto-1-Corte/DatagramFinal/ClienteDatagram/dist/
/Proyecto-1-Corte/DatagramFinal/ServidorDatagram/dist/
/2-Corte/ejemploJPA/nbproject/private/
/2-Corte/ejemplo/nbproject/private/